<footer class="footer">
    <div class="container">
        <div class="row my-5">
            <div class="col-lg-8">
                <p>Charlotte studied Fine Art at the Edinburgh College of Art where she specialised in landscape painting.</p>
                <p>After graduating she moved to London and has over 5 years experience working within the London art world supporting galleries, auction houses, artists and designers.</p>
                <p>Contact: <br> <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
            </div>
        </div>
    </div>
</footer>