<ul class="card-list">
    {% for img in site.data.images %}
        <li class="card-list__item">
            <div class="card">
                <div class="card-list__item__image-wrapper">
                    <figure class="modal-trigger-wrapper">
                        <i class="modal-trigger" data-toggle="modal" data-img="{{ site.base_url }}/static/img/2x/{{ img.src_2x }}" data-name="{{ img.title }}">
                            <small><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg></small>
                        </i>
                    </figure>
                    <img src="{{ site.base_url }}/static/img/placeholder/placeholder-gray.png"
                         data-src="{{ site.base_url }}/static/img/{{ img.src }}"
                         class="img-fluid lazyload"
                         alt="{{ img.title }}">
                    <noscript>
                        <img src="{{ site.base_url }}/static/img/{{ img.src }}" class="img-fluid" alt="{{ img.title }}">
                    </noscript>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ img.title }}</h5>
                    {% if img.description %}
                        <p class="card-text small text-muted">{{ img.description }} {% if img.date %} | {{ img.date }}{% endif %}</p>
                    {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>